#!/usr/bin/env bash
# Used by https://direnv.net

# Automatically reload when this file changes
watch_file nix/devshell.nix

# Load `nix develop`
use flake

PRJ_ROOT=$(git rev-parse --show-toplevel)
PRJ_DATA_DIR="$PRJ_ROOT/.data"

export PRJ_ROOT PRJ_DATA_DIR

mkdir -p "$PRJ_DATA_DIR"

PGDATA="$PRJ_DATA_DIR/postgres"
PGHOST="$PRJ_DATA_DIR"
PGPORT="5434"
PGLISTEN="127.0.0.1"
PGUSER="narwal"
PGPASS="!Pa55w0rd"
PGDATABASE="narwal_dev"

DATABASE_URL="postgres://$PGUSER:$PGPASS@localhost:$PGPORT/$PGDATABASE?sslmode=disable"

NARWAL_POSTGRES__URL="$DATABASE_URL"

export PGDATA PGHOST PGPORT PGLISTEN PGUSER PGPASS PGDATABASE DATABASE_URL NARWAL_POSTGRES__URL

MINIO_DATA="$PRJ_DATA_DIR/minio"
MINIO_CERTS_DIR="$MINIO_DATA/certs"
MINIO_ROOT_USER=narwal
MINIO_ROOT_PASSWORD=!Pa55w0rd  # needs to be at least 8 characters
MINIO_ADDRESS=127.0.0.1:9000

export MINIO_DATA MINIO_CERTS_DIR MINIO_ROOT_USER MINIO_ROOT_PASSWORD MINIO_ADDRESS

NARWAL_S3__SSL_ENABLED="false"
NARWAL_S3__ENDPOINT="$MINIO_ADDRESS"
NARWAL_S3__CREDENTIALS__ACCESS_KEY_ID="$MINIO_ROOT_USER"
NARWAL_S3__CREDENTIALS__SECRET_ACCESS_KEY="$MINIO_ROOT_PASSWORD"
NARWAL_S3__BUCKET="binary-cache"

echo "$MINIO_ROOT_USER" > "$PRJ_DATA_DIR/s3_access_key"
echo "$MINIO_ROOT_PASSWORD" > "$PRJ_DATA_DIR/s3_secret_key"

export NARWAL_S3__SSL_ENABLED NARWAL_S3__ENDPOINT NARWAL_S3__BUCKET
export NARWAL_S3__CREDENTIALS__ACCESS_KEY_ID NARWAL_S3__CREDENTIALS__SECRET_ACCESS_KEY

GOOSE_DRIVER=postgres
GOOSE_DBSTRING="$DATABASE_URL"
GOOSE_MIGRATION_DIR=pkg/db/migrations

export GOOSE_DRIVER GOOSE_MIGRATION_DIR GOOSE_DBSTRING

# Used to poke at the NixOS cache. Login with `aws sso login`
export AWS_CONFIG_FILE=$PWD/nixos-infra/aws-config
export AWS_PROFILE=nixos-archeologist

# Extend the environment with per-user overrides
source_env_if_exists .envrc.local
