#!/usr/bin/env bash
# Used by https://direnv.net

# Automatically reload when this file changes
watch_file nix/devshell.nix

# Load `nix develop`
use flake

PRJ_DATA_DIR="$(pwd)/.data"
export PRJ_DATA_DIR

mkdir -p "$PRJ_DATA_DIR"

PGDATA="$PRJ_DATA_DIR/postgres"
PGHOST="$PRJ_DATA_DIR"
PGPORT="5434"
PGLISTEN="127.0.0.1"
PGUSER="nix_binary_cache"
PGPASS="!Pa55w0rd"
PGDATABASE="nix_binary_cache_dev"

DATABASE_URL="postgres://$PGUSER:$PGPASS@localhost:$PGPORT/$PGDATABASE?sslmode=disable"

export PGDATA PGHOST PGPORT PGLISTEN PGUSER PGPASS PGDATABASE DATABASE_URL

MINIO_DATA="$PRJ_DATA_DIR/minio"
MINIO_CERTS_DIR="$MINIO_DATA/certs"
MINIO_ROOT_USER=nix-binary-cache
MINIO_ROOT_PASSWORD=!Pa55w0rd  # needs to be at least 8 characters
MINIO_ADDRESS=127.0.0.1:9000

export MINIO_DATA MINIO_CERTS_DIR MINIO_ROOT_USER MINIO_ROOT_PASSWORD MINIO_ADDRESS

# Extend the environment with per-user overrides
source_env_if_exists .envrc.local
